#!/bin/sh
# Constants declaration:
readonly DEFAULT_SOURCE="/path/folder/" # Default source for movie or TV series. Can be file or directory. Used when not given with script parameters.
readonly DEFAULT_MOVIE_DESTINATION="/path/to/movie/folder/" # Default destination for movie. Can be directory. Used when not given with script parameters.
readonly DEFAULT_TV_SHOWS_DESTINATION="/path/to/TV show/folder/" # Default TV series directory. Used when not given with script parameters.
readonly LANGUAGES="lit eng rus"			# Preferred and fallback languages. Script chooses language from left to right.
readonly CONVERT_AUDIO_CODEC="libvorbis"	# Audio codec to convert unsupported codecs.
EXTENSIONS=".mkv .avi .mka .mp4 .m2ts .ts"	# Script supported file extensions.
readonly SUPPORTED_VIDEO_CODECS="h264 hevc av1 vp9 vp8"		# Convert audio with these video codecs.
readonly SUPPORTED_AUDIO_CODECS="vorbis aac mp3 opus flac"	# Do not convert audio with these audio codecs.

# Global variables declaration.
terminal_columns=80			# Terminal text width in symbols. Used when tput not exist for job separator.
audio_track_user_choice=""	# List of space-separated FFmpeg IDs for audio tracks to be keep.
OVERWRITE_FLAG=false		# Overwrite media files.
CHECK_FLAG=false			# Check files for errors.
NO_VIDEO_FLAG=false			# Output only audio and subtitles.
TEST_FLAG=false				# Dry run. Only print ffmpeg commands.
SKIP_FLAG=false				# Skip files that do not need audio/subtitle conversation/removal.
VERBOSE_FLAG=false			# Print detail messages of constants and variables declaration.
